<html>
<head>
    <style>
        table, tr, th, td{
            border: 1px solid black;
        }

    </style>
</head>
<body>
    <div>

        <table>
            <tr>
                <th>Sender</th>
                <th>AccessDate</th>
                <th>AppType</th>
                <th>Status</th>
            </tr>

            {% for entry in attr %}
                <tr>
                    <td>{{entry[0]}}</td>
                    <td>{{entry[1]}}</td>

                    {% if entry[2] == "WA" %}
                        <td>WHATSAPP</td>

                    {% elif entry[2] == "FB" %}
                        <td>FACEBOOK</td>
                    
                    {% else %}
                        <td>SHORT MESSAGING SERVICE</td>
                    {% endif %}


                    {% if entry[3] == 200 %}
                        <td>SUCCESS</td>
                    
                    {% else %}
                        <td>FAILED</td>
                    {% endif %}

                </tr>
            {% endfor %}

        </table>
        

    </div>
</body>
</html>