<html>
<head>
    <style>
        table, tr, th, td{
            border: 1px solid black;
        }

    </style>
</head>
<body>
    <div>

        <table>
            <tr>
                <th>Sender</th>
                <th>AccessDate</th>
                <th>AppType</th>
                <th>Status</th>
            </tr>

            
                <tr>
                    <td>54.36.149.41</td>
                    <td>22/Jan/2021</td>

                    
                        <td>WHATSAPP</td>

                    


                    
                        <td>SUCCESS</td>
                    
                    

                </tr>
            
                <tr>
                    <td>188.226.164.216</td>
                    <td>22/Jan/2021</td>

                    
                        <td>FACEBOOK</td>
                    
                    


                    
                        <td>FAILED</td>
                    

                </tr>
            
                <tr>
                    <td>92783423</td>
                    <td>22/Jan/2021</td>

                    
                        <td>SHORT MESSAGING SERVICE</td>
                    


                    
                        <td>SUCCESS</td>
                    
                    

                </tr>
            
                <tr>
                    <td>188.226.164.216</td>
                    <td>23/Jan/2021</td>

                    
                        <td>FACEBOOK</td>
                    
                    


                    
                        <td>FAILED</td>
                    

                </tr>
            
                <tr>
                    <td>88188293</td>
                    <td>23/Jan/2021</td>

                    
                        <td>SHORT MESSAGING SERVICE</td>
                    


                    
                        <td>FAILED</td>
                    

                </tr>
            

        </table>
        

    </div>
</body>
</html>