<!doctype html>
<html>
    <head>
        <style>
            .centered {
                width: 80%;
                margin:auto;
                text-align: center;
                display: block;
            }
        
        </style>
    </head>
    <body>
        <div class="centered">
            <h1>Menu</h1>
            
            <h2>Round 1 Scores</h2>
            <button><a href = "{{url_for('round1')}}"> Proceed </a></button>
            
            <h2>Round 2 Scores</h2>
            <button><a href = "{{url_for('round2')}}"> Proceed </a></button>
            
            <h2>Round 3 Scores</h2>
            <button><a href = "{{url_for('round3')}}"> Proceed </a></button>
            
            <h2>Mean Scores</h2>
            <button><a href = ""> Proceed </a></button>
            
            <h2>Qualifiers</h2>
            <button><a href = ""> Proceed </a></button>
            
        </div>
    </body>
    
</html>