
<html>
    <head>
        
        <style>
            table, th, td , tr{
                width: 30%;
                border: 1px solid black;
            }
        </style>
    </head>
    
    <body>
        <h1>Hello</h1>
        <div>
    
            <table>
                
                <tbody>
                    <tr>
                        <th>Serial Number</th>
                        <th>Type</th>
                    </tr>
                    
                        <tr>
                            <td>24771</td>
                            <td>Printer</td>
                        </tr>
                    
                        <tr>
                            <td>42338</td>
                            <td>Laptop</td>
                        </tr>
                    
                </tbody>
                
            </table>
            
        </div>
    </body>
    </html>