<html>
    <head>
    
    </head>
    <body>
        <h1>Herro Wolrd</h1>
        
        <form method = "post" action="{{url_for('createAcc')}}">
            FirstName: <input type="text" name="FirstName">
            <br/>
            LastName: <input type="text" name="LastName">
            <br/>
            Contact: <input type="text" name="Contact">
            <br/>
            Date of birth: <input type="text" name="DOB">
            <br/>
            Address: <input type="text" name="Addr">
            <br/>
            <input type="submit">
        </form>
        
        
    </body>

</html>