<html>
    <head>
        
        <style>
            table, tr,td,th{
                border: 1px solid black;
            }
        </style>
    </head>
    
    <body>
        <div>
            
            MatricNo: {{MatricNo}}
            <table>
                <tr>
                    <th>CandidateNo</th>
                    <th>Name</th>
                </tr>
                
                {% for item in attr %}
                    
                    <tr>
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                    </tr>
                
                {% endfor %}
            </table>
            
        </div>
    </body>
    
</html>