<!doctype html>
<html>
    <head>
        <style>
            .centered {
                width: 80%;
                margin:auto;
                text-align: center;
                display: block;
            }
            
            table, tr, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        
        </style>
    </head>
    <body>
        
        <h1>Round {{roundNo}}</h1>
        
        <div class="centered">
            
            <table>
                <tr>
                    <th>
                        Names
                    </th>
                    <th>
                        Scores
                    </th>
                </tr>
                
                {% for item in attr %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                </tr>
               
                {% endfor %}
                    
            
            
            
            </table>
            
            
            <button><a href="{{url_for('main')}}">Back</a></button>
        </div>
    </body>
    
</html>