<html>
    <head>
        <style>
            table,tr,th,td {
                    border: 1px solid black;
                    border-collapse: collapse;
            }
        </style>
        
    </head>
    
    <body>
        <div>
            <h1>
                New Car registered Successfully!
            </h1>
            
            <table>
                <tr>
                    <th>VIN</th>
                    <td>{{attr[0]}}</td>
                  
                </tr>
                <tr>
                    <th>Brand</th>
                    <td>{{attr[1]}}</td>
                    
                </tr>
                <tr>
                    <th>VehicleType</th>
                    <td>{{attr[2]}}</td>
                    
                </tr>
                <tr>
                    <th>EnergySource</th>
                    <td>{{attr[3]}}</td>
                    
                </tr>
                <tr>
                    <th>DailyPrice</th>
                    <td>{{attr[4]}}</td>
                    
                </tr>
                <tr>
                    <th>Availability</th>
                    <td>{{attr[5]}}</td>
                    
                </tr>
                
            </table>
        </div>
        
    </body>
    
</html>